*.exe
*.manifest
*.obj
*.ilk
*.pdb
*.res
cov-int
project.tgz
.DS_Store
.deps
Oww
Oww.app
descrip.mms
image.cpp
pixmaps/.DS_Store
pixmaps/icons
pixmaps/oww-blurry.icns
pixmaps/oww-blurry.png
pixmaps/oww.xcf
sampleimage/
test.png
wxOWWVC.dsp
wxOWWVC.dsw
*~
*.o
wxoww-image.cpp
wxoww-ver1.cpp
wxoww-wxcanvas.cpp
wxoww.app.zip
*.swp
